{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Modification du mot de passe</h1>

{% if not blockForm %}
<div class="row">
    <div class="col s2"></div>
    <div class="col s8">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <div>
        <label for="verify_pass" class="required">Vérifier mot de passe</label>
        <input type="password" id="verify_pass"  required="required" autocomplete="confirm-new-password">
        </div>
        <button type="submit" class="btn">Valider</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script src="{{ asset('assets/js/checkPwd.js') }}"></script>
{% endblock %}